*{
    box-sizing: border-box;
}
body{
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 0;

}

header{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 15px 0;

}
header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
#logo{
    margin: 0 auto;
    font-size: 30px;
}

a{
    text-decoration: none
}
#menu li{
    padding: 10px;
}

#contact{
    color: white;
    padding: 5px;
}

header a{
    color: white;
}

.service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box{
    border: 1px solid #eee;
    padding: 10px;
    flex-basis: 32%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
   
}
 .service-box img{
     width: 100%;
 }

 #main{
     display: flex;
 }
 aside{
     flex: 0 0 20vw;
     background: white;
     padding: 10px;
     border:2px solid black;
 }
 footer{
     background-color: black;
     color: white;
     padding: 15px 0;
     text-align: center;
 }
 article{
     padding: 10px;
 }
 aside ul{
     list-style: none;
     padding: 0;
 }
 aside ul a{
     color: black;
     display: block;
     padding: 10px;
     border: 1px solid black;
 }
 aside img{
     width: 100%;
 }
 .call-to-action a{
     background-color: black;
     color: white;
     padding: 8px 13px;
     display: block;
     
 }
 .call-to-action{
     align-self: flex-start;
     margin-top: auto;

 }

 .call-to-action a:hover{
    color: maroon;
    background:transparent;
    border: 2px solid maroon;
 }
 .service-box h2{
     margin: 5px 0 10px;
 }
 .service-box p{
     margin-bottom: 10px;
 }
 @media screen and (max-width:850px){
    .service-box{
        flex-basis: 48%;
    }

    aside{
        flex: 0 0 30vw;
    }

 }

 @media screen and (max-width:600px){
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    #main{
        flex-direction: column;
    }
    article{
        order: -1;
    }
    .service-container{
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
    }
 }
 h4{
     margin: 7px;
 }